/* 
    Z-index values

    These range from -1 to 10; anything more than this is likely overkill.
*/
@z-base:              0;
@z-min:              -1;
@z-max:              10;

.zindex-procs(@iterator: @z-min) when (@iterator <= @z-max) {
    .z-@{iterator} {
        z-index: @z-base + @iterator;
    }

    .zindex-procs(@iterator + 1);
}
.zindex-procs();