/*
    Transition classes. 
    Note: This is a bit of a sledgehammer case here; it doesn't handle all of the cases I want.
*/
@transition-s:  0.25s;
@transition-m:  0.5s;
@transition-l:  0.75s;
@transition-xl: 1s;

@transitions:
    s @transition-s,
    m @transition-m,
    l @transition-l,
    xl @transition-xl;

.transition-proc(@label, @length) {
    .transition-@{label} {
        transition: opacity @length ease-out, fill @length ease-out, color @length ease-out, background-color @length ease-out;
    }
    .transition-all-@{label} {
        transition: all @length ease-out;
    }
}

.transition-procs(@iterator:1) when (@iterator <= length(@transitions)) {
    @label: extract(extract(@transitions, @iterator), 1);
    @length: extract(extract(@transitions, @iterator), 2);

    .transition-proc(@label, @length);

    .transition-procs((@iterator + 1));
}
.transition-procs();

.transition-none {
    transition: none !important;
}